*,
*:before,
*:after,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  color: rgb(28, 28, 28);
  letter-spacing: 1px;
}

html {
  overflow-y: scroll;
}

body {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --background: rgba(252, 236, 232, 255);
  --darkgray: rgb(28, 28, 28);
}
