.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerPic {
  padding-top: 30px;
  padding-bottom: 30px;
}

.headShot {
  border-radius: 50%;
  height: 100px;
}

.posts {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 600px;
  border: 1px solid var(--darkgray);
  background: white;
  border-radius: 5px;
}

.posts h5 {
  padding-top: 20px;
}

.posts:hover {
  cursor: pointer;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--background);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.goBack {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--background);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.goBack h4:hover {
  cursor: pointer;
}

.categoryItem {
  display: inline-block;
  position: relative;
  background-color: var(--background);
}

.categoryItem:hover {
  cursor: pointer;
}

.categoryItem::after {
  content: "";
  position: absolute;
  background-color: var(--darkgray);
  height: 2px;
  bottom: -5px;
  left: 0px;
  width: 0%;
  transition: 0.2s ease-out;
}

.categoryItem:hover::after {
  width: 100%;
}

.categoryItem_active {
  display: inline-block;
  position: relative;
}

.categoryItem_active:hover {
  cursor: pointer;
}

.categoryItem_active::after {
  content: "";
  position: absolute;
  background-color: var(--darkgray);
  height: 2px;
  bottom: -5px;
  left: 0px;
  width: 100%;
}

.wallOfText {
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
