.mainDiv {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts {
  margin-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  height: 100vh;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(243, 243, 243);
  width: 100%;
  border-bottom: 1px solid black;
  padding: 5px;
}

.categories h4 {
  font-size: 1.2rem;
}

.flexItem_active {
  display: flex;
  font-size: 1rem;
  background-color: rgb(101, 101, 101);
  color: white;
}

.flexItem {
  display: flex;
  font-size: 1rem;
  background-color: rgb(243, 243, 243);
}
