.posts {
  font-size: 1.2rem;
}

posts.title {
  font-size: 5rem;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.flexItem {
  background-color: gold;
  border: 1px solid black;
}
